// Color map
$colors: (
  primary: #ffffff,
  secondary: #1ab798,
  primary-text: #282528,
);
//media
$mobile-max-width-container: 320px;
$mobile-padding-container: 15px;
$tablet-max-width-container: 768px;
$tablet-padding-container: 30px;
$desktop-max-width-container: 1200px;
$desktop-padding-container: 40px;
