.blok-text {
  @include center-flex($type: 'all');
  flex-wrap: wrap;
  text-align: center;

  &__subtitl {
    padding-bottom: 40px;
  }
  &__sub {
    font-family: $secondary-font-stack;
    font-size: $info-headings-size;
    font-weight: $regular-font-size;
    color: color(primary);
    padding-bottom: 20px;
  }
  &__text {
    // width: 420px;
    font-family: $primary-font-stack;
    font-size: $info-size;
    font-weight: $regular-font-size;
    color: color(primary);
    opacity: 0.5;
    //   margin-bottom: 40px;
  }
}
