.bloks {
  //   @include center-flex($type: 'all');
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  // display: flex;
  // margin-top: 125px;
  // justify-content: space-between;
  @media (min-width: 1200px) {
    // @include between-flex($type: 'all');
    display: flex;
    justify-content: space-between;
    flex-direction: inherit;
  }
}
