.namber {
    font-family: $primary-font-stack;
    font-size: 14px;
    font-weight: $bold-font-size;
    color: color(contact-info-color);
    margin-top: 30px;
    margin-bottom: 15px;
}
.namber-name {
    font-family: $primary-font-stack;
    font-size: 14px;
    font-weight: $bold-font-size;
    color:color(contact-info-color);
}