.namber {
    font-family:'Open Sans';
    font-size: 14px;
    font-weight: bold;
    color: #b6a4d7;
    margin-top: 30px;
    margin-bottom: 15px;
}
.namber-name {
    font-family:'Open Sans';
    font-size: 14px;
    font-weight: bold;
    color: #b6a4d7;
}