.section-discription {
  padding-top: 115px;
  &__heading {
    font-family: $secondary-font-stack;
    font-weight: $bold-font-size;
    font-size: $headings-size;
    text-align: center;
    text-transform: uppercase;
    color: color(secondary);
    position: relative;
    &::after {
      @include pseudo;
      background-color: color(pseudo-element-line);
      width: 60px;
      height: 1px;
      margin-bottom: 7px;
      margin-left: 15px;
    }
    &::before {
      @include pseudo;
      background-color: color(pseudo-element-line);
      width: 60px;
      height: 1px;
      margin-bottom: 7px;
      margin-right: 15px;
    }
    @media (min-width: 768px) {
      font-size: $headings-size-big;
    }
  }

  &__paragraph {
    font-family: $primary-font-stack;
    font-weight: $regular-font-size;
    font-size: $paragraph-size;
    text-align: center;
    color: color(primary-text);
    padding-top: 35px;
    @media (min-width: 768px) {
      font-size: $headings-size;
    }
  }
}
.text-width {
  color: color(primary);

  &::after {
    @include pseudo;
    background-color: color(primary);
    width: 60px;
    height: 1px;
    margin-bottom: 7px;
    margin-left: 15px;
  }
  &::before {
    @include pseudo;
    background-color: color(primary);
    width: 60px;
    height: 1px;
    margin-bottom: 7px;
    margin-right: 15px;
  }
}
