.watch__titl {
    font-family:'Raleway';
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.watch__text {
    max-width: 540px;
    font-family:'Open Sans';
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
}