#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  
}
.footer {
  &__text {
    font-family: $primary-font-stack;
    font-size: $info-size;
    font-weight: $regular-font-size;
    color: color(primary);
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-top: 1px solid color(primary);

    &-paragraph {
      @include column-flex($type: 'all');
    }
    &-span::before {
      @include pseudo($content: '\A9');
      margin-right: 2px;
    }
    a {
      color: color(primary);
    }
    @media (min-width: 768px) {
      padding-top: 22px;
      &-paragraph {
        @include column-flex($type: 'ver');
        flex-direction: inherit;
      }
    }
  }
}
